<%- include('../partials/header.ejs', { title: 'About' }) %>

<h2>About Us</h2>
<ul class="list-group">
  <% team.forEach(member => { %>
    <li class="list-group-item">
      <strong><%= member.name %></strong> – <%= member.role %>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer.ejs') %>
