<%- include('../partials/header.ejs', { title: 'Thank You' }) %>

<div class="text-center">
  <h2>Thank You!</h2>
  <p>Your message has been received. We'll get back to you soon.</p>
  <a class="btn btn-primary mt-3" href="/">Back to Home</a>
</div>

<%- include('../partials/footer.ejs') %>
